*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: #B91450;
  color: inherit;
  font-family: 'Roboto', sans-serif;
}

/* mix */
h1, h2{
  color: #fff;
  background-color: inherit;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}
.container{
  max-width: 1280px;
  margin: auto;
  padding: 20px 0;
}

/* BOTTONI */
.btn{
  color: #B91450;
  font-size: 16px;
  font-weight: bold;
  padding: 3px;
  background-color: lightgrey;
  border-radius: 5px;
  border: 1px solid #999;
  cursor: pointer;
  margin: 10px 10px 0 10px;
}
.btn:hover{
  background-color: lightgrey;
  color: white;
  cursor: pointer;
}
.row{
  display: flex;
  justify-content:center;
}
.col{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 20px;
}

/* dati imput */
.data-input, .biglietto-container{
  background-color: white;
  color: inherit;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #444;
  padding: 20px;
  margin: 20px 0;
}
label{
  color: #B91450;
  background-color: inherit;
  margin-bottom: 15px;
}
input, select{
  text-align: center;
  border-radius: 5px;
  height: 30px;
  border: 1px solid #B91450;
  font-size: 15px;
}
input::placeholder{
  text-align: center;
  font-size: 15px;
}
input:focus, select:focus{
  color: white;
  background-color: #B91450;
}

/* STAMPA BIGLIETTO */
.biglietto{
  margin-top: 20px;
}
.biglietto-container{
  opacity: 0;
  transition: opacity 0.5s;
}

.dati{
  display: flex;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.nome{
  padding: 10px;
  flex-shrink: 0;
  background-color: lightgrey;
  color: inherit;
}
.offerta table th, .offerta table td{
  padding: 20px;
}
.show{
  opacity: 1;
}
